/* .dropdown-item {
    display: flex;
    align-items: center;
    height: 60px;
  } */

body {
  margin: 3rem;
}

  .tutorial {
    width: 600px;
    text-align: center;
    margin: auto;
  }
  
  figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
  }
  
  figure .image img {
    width: 128px;
  }
  
  .notification {
    margin-top: 20px !important;
  }
  
  /* .results controls the look of the dropdown */
  .results {
    /* max-height: 500px; */
    /* overflow-y: scroll; */

    /* Hiding scrollbars of the dropdown if there are too many results */
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* -ms-overflow-style: none;  */
  }
  
  .title .icon {
    margin-left: 15px;
  }
  
  .hero {
    margin-bottom: 20px;
  }
  
  .forms {
    display: flex;
    justify-content: space-around;
  }
  
  /* Position and size input box */
  .autocomplete {
    /*margin: top | horizontal | bottom */
    margin: 10% auto 5%;
    width: 40%;
  }

  input:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .dropdown-item img {
    height: 50px;
    margin-right: 10px;
  }

  #coin-summary {
    max-width: 40vw;
    margin: auto;
  }